# LaTeX temporary files
**/*.aux
**/*.glo
**/*.idx
**/*.log
**/*.toc
**/*.ist
**/*.acn
**/*.acr
**/*.alg
**/*.bbl
**/*.blg
**/*.dvi
**/*.glg
**/*.gls
**/*.ilg
**/*.ind
**/*.lof
**/*.lot
**/*.maf
**/*.mtc
**/*.mtc1
**/*.out
**/*.synctex.gz

# Output files
**/*.pdf
!/docs/FrontendReference/*.pdf

# Backup files
*~

# Other files
**/*.loa
**/*.fls
**/*.fdb_latexmk
**/*.run.xml
**/*.bcf
**/*.synctex(busy)
**/*.nav
**/*.snm
**/*.vrb
**/*.xdv

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
